// Mixins

@function get-vw($target) {
   $vw-context: (1200*.01) * 1px;
   @return ($target/$vw-context) * 1vw;
}

@function get-rem($target) {
   @return ($target/16) * 1rem;
}

@function get-lh($line-height, $font-size) {
   @return ($line-height/$font-size);
}

@mixin box-shadow($color) {
   box-shadow: 0 4px 0 $color;
}




$container : 1140px;

//

* {
   box-sizing: border-box;
}

body {
   font-size: get-rem(18);
   color: #ffffff;
   font-family: 'Titillium Web', sans-serif;
}

button {
   background-color: inherit;
   border: none;
   color: inherit;
}

img {
   width: 100%;
   height: 100%;
   object-fit: contain;
}

.container {
   max-width: $container;
   margin: 0 auto;
   padding: 0 get-rem(20);
}

.introduction {
   padding: 4.6% 0;
   background-color: #87509c;
}

.header {
   margin-bottom: get-rem(140);

   &__wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-left: 5%;
      margin-bottom: 12.73%;
      text-transform: uppercase;
   }
}

.nav {
   max-width: 450px;
   width: 100%;
}

.menu {
   display: flex;
   justify-content: space-between;
   width: 100%;

   &__link {
      padding: 10px 15px;
      background-color: inherit;
      border-radius: 4px;

      &:hover {
         background-color: rgb(100, 58, 121);
         transition: 0.3s ease-in-out;
      }
   }
}

.greetings {
   text-align: center;
   margin-bottom: 4%;

   &__text {
      margin-bottom: 5.5%;
      font-size: get-rem(42);
      font-weight: bold;

      &--span {
         display: inline-block;
         text-align: initial;
      }
   }

   &__btn {
      @include box-shadow(#c86a40);
   }

}

.btn {
   max-width: 293px;
   width: 100%;
   height: 100%;
   padding: get-rem(29);
   background-color: #eb7d4b;
   font-size: get-rem(18);
   font-weight: 600;
   border-radius: 4px;
   text-transform: uppercase;
}

.burger {
   display: none;
}

.section {

   &__wrapper {
      padding: 11% 0;
      text-align: center;
   }

   &__title {
      font-size: get-rem(40);
      font-weight: bold;
      text-transform: uppercase;
      position: relative;
      margin-bottom: 20px;
      letter-spacing: 4px;

      &:after {
         content: '';
         width: 2.175em;
         height: 4px;
         margin: 0 auto;
         display: block;
         margin-top: 0.5em;
      }
   }

   &__text {
      font-size: get-rem(18);
      line-height: 1.44;
      max-width: 620px;
      margin: 0 auto;
      margin-bottom: get-rem(80);
   }
}

.super-list {
   display: flex;
   justify-content: space-between;

   &__title {
      font-size: get-rem(24);
      font-weight: bold;
      text-transform: uppercase;
   }

   &__text {
      font-size: get-rem(16);
      font-weight: 300;
      line-height: 1.5;
   }

   &__item {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      max-width: 260px;
      padding: 0 30px;

   }

   &__container {
      width: 100%;
   }

}

.item-services {

   &__container {
      margin-bottom: 50px;
      max-height: 134px;
      height: 100%;
   }

   &__title {
      margin-bottom: 5px;
      min-height: 48px;
   }
}

.nav {
   display: none;
   width: 100vw;
   height: 100vh;
   position: fixed;
   bottom: 0;
   left: 0;
   background: #000000e6;
   transform: translateX(-100%);
   max-width: 100vw;

   &__list {
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      width: 100%;
      height: 100%;

   }
}

.nav--active {
   display: block;
   transform: translateX(0);
}


.services {
   background-color: #17c2a4;

   &__title {

      &:after {
         background-color: #00000025;
      }
   }
}

.team {
   background-color: #e7f1f8;
   color: #3c4761;

   &__title {

      &:after {
         background-color: #bdd1dfbf;
      }
   }
}

.item-team {

   &__container {
      margin-bottom: 40px;
   }

   &__title {
      margin-bottom: 15px;
      min-height: 48px;
   }

   &__text {
      margin-bottom: 30px;
   }

   &__subtitle {
      min-height: 36px;
   }
}

.social-list {
   display: flex;
   justify-content: space-evenly;

   &__item {
      width: 32px;
      height: 32px;
      border-radius: 50%;
      background-color: #bdd1df;
   }

   &__link {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
   }
}

.svg {
   fill: #fff;

   &__twitter {
      width: 17px;
      height: 14px;
   }

   &__facebook {
      width: 8px;
      height: 16px;
   }

   &__linkedin {
      width: 16px;
      height: 16px;
   }

   &__message {
      width: 16px;
      height: 12px;
   }
}

.skills {
   background-color: #fff;
   color: #3c4761;

   &__title {

      &:after {
         background-color: rgb(223, 232, 237)
      }
   }
}

@media screen and (max-width: 805px) {
   html {
      font-size: 12px;
   }

   .greetings__text--span {
      display: inline;
   }

   .burger {
      display: flex;
      z-index: 5;
      justify-content: center;
      align-items: center;
      position: relative;
      cursor: pointer;

      &__line {
         display: inline-block;
         width: 25px;
         height: 3px;
         margin: 10px 0;
         background-color: rgb(226, 226, 226);

         &:before {
            content: '';
            position: absolute;
            top: 0;
            display: inline-block;
            width: 25px;
            height: 3px;
            background-color: rgb(226, 226, 226);
         }

         &:after {
            content: '';
            position: absolute;
            bottom: 0;
            display: inline-block;
            width: 25px;
            height: 3px;
            background-color: rgb(226, 226, 226);
         }
      }

      &--active {
         transform: rotate(45deg);

         .burger__line {
            margin: 0;

            &:before {
               content: none;
            }

            &:after {
               transform: rotate(90deg);
            }
         }
      }
   }

   .super-list {
      flex-wrap: wrap;
      justify-content: space-evenly;
   }

   .item-services {
      margin-bottom: 30px;

      &__title {
         margin-bottom: 15px;
         min-height: 0;
      }

      &__container {
         margin-bottom: 35px;
         max-width: 200px;
         margin: 0 auto;
      }
   }

   .item-team {
      margin-bottom: 25px;

      &__title {
         margin-bottom: 10px;
         min-height: 0;
      }

      &__subtitle {
         margin-bottom: 10px;
         min-height: 0;
      }

      &__text {
         margin-bottom: 25px;
      }

   }
}

@media screen and (max-width: 549px) {
   .item-services {
      margin-bottom: 30px;

      &:last-child {
         margin-bottom: 0;
      }
   }

   .item-team {

      &__container {
         margin-bottom: 30px;
      }
   }
}